<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Diagnostics - Payment Service</title>
    <link rel="stylesheet" href="/css/dashboard.css"/>
</head>
<body>
    <div th:replace="sidebar :: sidebar"></div>
    <div class="dashboard">
        <div class="main-content">
            <div class="header-banner">
                <h1 class="dashboard-title">DIAGNOSTICS</h1>
                <p>Monitor health and actuator info.</p>
            </div>
            <div class="flashcards">
                <div class="card diagnostics-card">
                    <h2>System Health</h2>
                    <p th:text="${diagnostics.status}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
